{
  "projects": {
    "default": "inventory-zaions-dev",
    "staging": "inventory-zaions-staging",
    "production": "inventory-zaions-prod"
  },
  "targets": {
    "inventory-zaions-dev": {
      "hosting": {
        "app": [
          "inventory-zaions-dev"
        ]
      }
    },
    "inventory-zaions-staging": {
      "hosting": {
        "app": [
          "inventory-zaions-staging"
        ]
      }
    },
    "inventory-zaions-prod": {
      "hosting": {
        "app": [
          "inventory-zaions-prod"
        ]
      }
    }
  },
  "etags": {}
}